.jumbotron{
    background-color: rgb(9, 6, 61);
    color: white;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:rgb(9, 6, 61);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva{
    width:100%;

}

.txt-color-footer{
    color:white !important;
}

.footer-address-icon{
    padding-right: 10px; 
}